[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
cryptography = "==41.0.4"
fastapi = "==0.103.2"
httpx = "==0.25.0"
itsdangerous = "==2.1.2"
orjson = "==3.9.10"
pydantic = "==2.5.3"
PyJWT = "==2.8.0"
python-jose = "==3.3.0"
python-multipart = "0.0.6"
requests = "==2.31.0"
uvicorn = "==0.23.2"

[dev-packages]
black = "==23.9.1"
coverage = "==7.3.2"
pip-audit = "==2.6.1"
pytest = "==7.4.3"

[requires]
python_version = "3.11"
